services:
  # -- BACKEND --
  backend:
    image: rafaelmacie/repoaula-back:1.0
    ports:
      - "3000:3000"
    env_file:
      - ./Backend/.env
    depends_on:
      - db
    restart: unless-stopped

  # -- FRONTEND --
  frontend:
    image: rafaelmacie/repoaula-front:1.0
    ports:
      - "5173:5173"
    env_file:
      - ./Frontend/.env
    restart: unless-stopped

  # -- BANCO DE DADOS --
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./db-init/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - .env
    restart: unless-stopped

volumes:
  postgres-data:
    driver: local